*{
	margin: 0;
	padding: 0;
}
body{
	margin: 10px;
	padding: 10px;
}
header{
	background: url('../images/flywheel.jpg') #123456 ;
	height: 200px;
}
h1{
	color: #FFFFFF;
	font-size: 250%;
	font-family: Times,serif;
	text-align: center;
	padding-top: 20px;
}
h2{
	color: #000000;
	font-size: 200%;
	font-family: Times;
	font-weight: bold;
	padding-left: 10px;
}
nav{
	text-align: center;
	font-size: 200%;
	font-family: Arial;
	margin-top:20px;
}
nav a{
	display: inline-block;
	text-decoration: none;
	margin-right: 50px;
	color: #000000;
	width: 20%;
	background:rgba(255,255,255,0.3);
	border-radius: 5px;
}
/*nav a:hover{
	background: #FFFFFF;
}*/
.active{
	background: #FFFFFF;
}
aside a{
	display: block;
	margin: 20px;
}
img{
	height: 200px;
	width: 200px;
	border: 2px solid black;
	display: 
}
aside{
	float: left;
	background: #2B9001;
}
section{
	padding-top:20px;
	padding-left: 255px;
	/*float: right;*/
}
ul{
	padding-left: 25px;
}
p{
	font-weight:bold;
	font-family: Times;
	font-size: 15px;
	padding: 10px 10px;
	line-height: 30px;
}
table{
	font-size: 15px;
	font-weight: bold;
	font-family: Times;
	margin: 5px auto auto;
	border-collapse: collapse;
	background: -webkit-linear-gradient(bottom,green,yellow);
	background: -moz-linear-gradient(bottom,green,yellow);
	background: -o-linear-gradient(bottom,green,yellow);
	background: linear-gradient(bottom,green,yellow);
	border-radius: 10px 10px 0 0;
}
tr th{
	font-size: 150%;
	color: #ffffff;
	font-family: 'Times';
	border: 2px solid white;
	background-color: #91A052;
	border-radius: 10px 10px 0 0;
	background: url('../images/lightning.png') repeat;
	}
td{
	border:2px solid white; 
}
table tr th,table tr td{
	text-align: center;
}
table tr th:first-child,table tr td:first-child{
	text-align: left;
}
table tr td{
	color: #000000;
	width: 30%;
	line-height: 25px;
	opacity: 0.6;
	transition: opacity 0.2s;
}
table tr td:hover{
	opacity: 1;

}

